*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 62.5%;
    }
    :root{
        --font-paragrafo: "Noto Sans", sans-serif;
        --font-nav:"Quicksand", sans-serif;
        --font-titu:"Rubik", sans-serif;
        --cor-escura: #0A1931;
        --cor-azul: #185ADB;
        --cor-amarela: rgb(237, 228, 100);
        --cor-branca: #EFEFEF;
    }
    body{
        background-color: var(--cor-escura);
        color: var(--cor-branca);
    }
    .banner{
        border-radius: 2em;
    }
    .logo{
        width: 90px;
    }
    .cabecalho-barra{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8%;
        background-color: var(--cor-amarela);
        box-shadow: 1px 1px 5px var(--cor-escura);
    }
    .cabecalho-barra-links{
        padding: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        justify-content: space-around;
        gap: 1.5rem;
        
    }
    .cabecalho-barra-links-a{
        font-family: var(--font-nav);
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--cor-escura);
    }
    .conteudo-alerta{
        margin-top: 7rem;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .conteudo-alerta-texto{
        width: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        text-align: end;
        font-size: 1vw;
        padding: 2rem;
    }
    .conteudo-titulo{
        font-family: var(--font-titu);
        font-size: 1.9rem;
    }
    .conteudo-paragrafo{
        font-family: var(--font-paragrafo);
        font-size: 1.4rem;
    }
    .contbotao{
    font-family: var(--font-titu);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cor-escura);
    padding: 0.8rem;
    background-color: var(--cor-amarela);
    border-radius: 1rem;
    }
    .conteudo-servico{
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .conteudo-servico-texto{
        width: 70vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: start;
        font-size: 1vw;
        padding: 2rem;
        align-items: center;
    }
    .conteudo-historia{
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .conteudo-historia-texto{
        width: 70vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: end;
        font-size: 1vw;
        padding: 2rem;
        align-items: center;
    }
    .conteudo-produtos{
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .conteudo-produtos-texto{
        width: 70vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: start;
        font-size: 1vw;
        padding: 2rem;
        align-items: center;
    }
    .rodape{
        margin-top: 7rem;
        box-shadow: -1px -1px -5px;
        padding: 1%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: var(--cor-escura);
        background-color: var(--cor-amarela);
    }
    .rodape-fonte{
        font-family: var(--font-nav);
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--cor-escura);
    }
    .rodape-redes-grid{
        display: flex;
        gap: 1rem;
        align-items: center
    }
    .rodape-redes{
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
    }
    .rodape-endereco{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .logo-redes{
        height: 1.5rem;
        width: 1.5rem;
    }
    .botao-voltar{
        position: fix;
        bottom: 7rem;
        right: 1rem;
        height: 3rem;
    }
    .abaservico{
                margin-top: 14.270032930845225vh;
    }
    .abaservico-texto{
        font-family: var(--font-titu);
        font-size: 3.5rem;
        color: var(--cor-branca);
        text-align: center;
        padding: 2rem;
    }
    .abaservico-conteudo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
    .grid-servicos{
        width: 25%;
        text-align: center;
        font-family: var(--font-titu);
        font-size: 2.3rem;
        color: var(--cor-escura);
        padding: 0.5rem;
        border-top: solid 5px var(--cor-azul);
        background-color: var(--cor-branca);
        border-radius: 0.5rem;
    }
    .li-grid{
        padding-right: 2rem;
        text-align: start;
    }
    .titu-grid{
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }
    .abahistoria-historia{
                align-items: center;
        display: flex;
        padding: 2rem;
        justify-content: center;
        margin-top: 8.270032930845225vh;
    }
    .abahistoria-historia-text{
        width: 50%;
        text-align: center;
    }
    .abahistoria-historia-imagens{
        width:30%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    }
    .abahistoria-historia-img{
        width: 200px;
        height: 200px;
        border-radius: 1rem;
    }
    .abahistoria-t{
        font-family: var(--font-titu);
        font-size:2.7rem ;
        margin-bottom: 1.5rem;
    }
    .abahistoria-p{
        font-family: var(--font-paragrafo);
        font-size: 1.9rem;
    }
    .abahistoria-missao{
        display: flex;
        flex-direction: column;
        padding: 4rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .abahistoria-equipe{
        display: flex;
        flex-direction: column;
        padding: 4rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .grid-equipe{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        flex-wrap:wrap ;
        gap: 2rem;
        }
    .grid-equipe-foto{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .nome-funcionario{
        padding: 1rem;
        text-align: center;
        font-size: 1.8rem;
    }
    .foto-funcionario{
        border-radius: 50%
    }
    .link-funcionario{
        font-family: var(--font-paragrafo);
        font-size: 1.9rem;
        color: var(--cor-amarela);
    }
    .link-funcionario:hover{
        color: var(--cor-azul);
    }

/* modificações para mobile */

@media screen and (max-width:420px){
    .conteudo-alerta{
        flex-direction: column-reverse;
    }
    .conteudo-alerta-texto{
        width: auto;
        text-align: center;
    }
    .conteudo-servico{
      flex-direction: column;
    }
    .conteudo-servico-texto{
        width: auto;
        text-align: center;
    }
    .conteudo-historia{
       flex-direction: column-reverse;
    }
    .conteudo-historia-texto{
        width: auto;
        text-align: center;
    }
    .conteudo-produtos{
        flex-direction: column;
    }
    .conteudo-produtos-texto{
        width: auto;
        text-align: center;
    }     
    .cabecalho-barra-links-a{
        font-size: 1.2rem;
    }
    .logo{
        width: 70px;
        
    }
    .rodape{
        margin-top: 3rem;
        height: auto;
        flex-direction: column;
    }
    .rodape-redes-grid{
        display: flex;
        /* gap: 1rem; */
        align-items: center
    }
    .rodape-redes{
        margin-top: 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
        margin-bottom: 1rem;
    }
    .rodape-endereco{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }
    pre{
        display: flex;
    }
}